[defaults]
inventory = inventory/
roles_path = roles/
timeout = 30
forks = 10
callbacks_enabled = timer, profile_tasks, profile_roles
ansible_python_interpreter = /usr/bin/python3
[ssh_connection]
pipelining = True

[tags]
SKIP=never, set_to_skip_in_ansible_cfg
